certifi==2018.11.29
chardet==3.0.4
Django==2.0.7
django-daterange-filter==1.3.0
django-storages==1.7.1
dropbox==9.3.0
gunicorn==19.9.0
idna==2.8
pkg-resources==0.0.0
pytz==2018.7
requests==2.21.0
rope==0.11.0
six==1.12.0
urllib3==1.24.2
whitenoise==4.1.2
xlwt==1.3.0
